
.navImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5px;
    margin-bottom: 5px;
}

.navBtns {
    text-decoration: none;
    color: darkslategray;
    padding: 5px;
    padding-right: 10px;

}

.navPosition {
display: flex;
justify-content: end;
}